@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

@mixin center{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

$blue:#2F323A;
$orange:#FE7F2D;
$white:#F1F7ED;

body {
  font-weight:100;
  font-family:'Open Sans' !important;
  color:$orange;
  background:$blue;
  font-size:4em;
}
canvas{
  display:block;
  @include center;
}

#clock{
  z-index:2;
}

#clock-back{
  z-index:1;
}

.clock-text{
  z-index:3;
  font-weight: 700;
  @include center;
}

.button-container{
  color:$white;
  position:absolute;
  height:3em;
  width:3em;
  top:50%;
  transform:translateY(-50%);
  left:0.5em;
}

.button{
  display: block;
  position:absolute;
  font-size:0.7em;
  height:0.8em;
  width:2.5em;
  left:50%;
  transform:translateX(-50%);
  color:#A8A8A8;
  transition:color 0.25s ease; 
  &:hover{
   color:$white 
  }
}

.button-text{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.start-button{
  top:0.4em;
}
.option-button{
  top:1.7em;
}
.stop-button{
  bottom:0.4em;
}
.disable-button{
  pointer-events:none;
  opacity:0.3;
}

.options-container{
  z-index:1001;
  background:$blue;
  display:block;
  height:3em;
  width:3.4em;
  color:white;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:0.5em;
}
.op-text{
  width:3em;
  font-size:0.8em;
  display:inline-block;
  font-family:'Open Sans';
}

.option{
  height:25%;
  width:100%;
  position:relative;
  display:block;
  font-size:0.6em;
}

.op-in{
  display:inline-block;
  text-align:center;
  width:2em;
  height:1.2em;
  font-size:0.55em;
  background:$blue;
  border:none;
  border-bottom:solid $white 2px;
  color:white;
  transition:border 0.25s ease-in;
  &:focus{
    outline:none;
    border-bottom:solid $orange 2px;
  }
  &:hover{
    border-bottom:solid $orange 2px;
  }
}

.delay{
  
  height:34%;
}

.extra-text{
  position:absolute;
  left:0;
  font-size:0.8em;
  width:2.2em;
  text-align:center;
}

.pulse{
  animation: pulse 1s infinite ease alternate;
}

.bottom-anim{
  &:hover{
    &:before{
      display:block;
      position:absolute;
      content:'';
      top:100%;
      width:50%;
      left:50%;
      border-bottom:solid white 2px;
      animation: bottom-expand 0.5s ease;
    }
    &:after{
      display:block;
      position:absolute;
      content:'';
      top:100%;
      width:50%;
      right:50%;
      border-bottom:solid white 2px;
      animation: bottom-expand 0.5s ease;
    }
  }
}

.reduce-font{
  animation:reduce-font 0.2s ease-in;
}

@keyframes pulse{
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bottom-expand{
  0% {
    width:0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes reduce-font{
  0% {
    font-size:0.8em;
  }
  100%{
    font-size:0.75em;
  }
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

//for mobile
@media only screen and (max-width:830px){
  .container, canvas, .clock-text{
    //margin-top:0.4em;
    clear:both;
  }
  .button-container{
    width:100%;
    margin-top:0.3em;
    height:0.8em;
    float:left;
    left:0;
    top:0;
    transform:none;
  }
  
  .options-container{
    @include center;
    clear:both;
    height:350px;
    width:350px;
  }
  
  .option{
    left:50%;
    transform:translateX(-50%);
    text-align:center;
  }
  
  .extra-text{
    cursor:pointer;
    @include center;
    text-align:center !important;
  }
  .button{
    position:relative;
    top:0 !important;
    left:0 !important;
    transform:none;
    font-size:0.55em;
    width:33%;
    float:left;
    clear:right;
    cursor:pointer;
    & .button-text{
      @include center;
      text-align:center;
    }
  }
  .option-button{
    width:34%;
  }
  .clock-text{
    font-size:1em;
    @media only screen and (max-width:420px){
      font-size:0.8em;
    }
  }
}