#chat-wrapper
  #chat-bot-mood
    #chat-bot-mood-icon
    #chat-bot-mood-label
      h1#chat-bot-mood-text Chatbot is feeling
      h1#chat-bot-mood-value Mood
  #letter-pool
  #temp-letter-pool
  #letter-overlay
  #chat-message-window
    #message-input-wrapper
      #message-input
        input(id='message-input-field', type='text', placeholder='Digite', maxlength='100')
        #send-message-button
          i.far.fa-arrow-alt-circle-right
    #chat-message-column-wrapper.scroll-bar
      #chat-message-column.static