table.webfest-schedule
    thead
      tr
        th(colspan='2')
          p.date Saturday May 23, 2015
          h3 Industry Day
            img(height="23", width="47", src="https://www.towebfest.com/wp-content/uploads/2015/03/IPF_300x157.png")
          | Presented with the participation of the Independent Production Fund.
      tbody
        tr
          td 11:45
          td Doors open
        tr
          td 12:15
          td
            strong PANEL
            |  - New Technology in Narratives (1hr)
        tr
          td 1:30
          td
            strong PANEL
            |  - Empire Builders 2.0: Building Sustainable Success (1 hr)
        tr
          td 2:30
          td Program break (30 m)
        tr
          td 3:00
          td
            strong PANEL
            |  - The Media Landscape: Platform Agnosticism (1 hr)
        tr
          td 4:15
          td
            strong PANEL
            |  - A Year in Review: New Trends in Digital Content & Consumption (1 hr)
        tr
          td 5:30
          td
            strong workshop
            |  - Social Media & Crowdfunding Toolkit Workshop (1 hr)
        tr
          td 6:55
          td
            strong screening
            |  - The Goodie Bag
        tr
          td 8:00
          td Program break (1 hr)
        tr
          td 9:00
          td
            strong T.O. Webfest Awards
        tr
          td 11:00
          td
            strong Afterparty
            |  at Paupers Pub - 539 Bloor St. West


table.webfest-schedule
  thead
    tr
      th(colspan='2')
        p.date Sunday May 24, 2015
        h3 Creator Day
  tbody
    tr
      td 11:15
      td Doors open
    tr
      td 11:30
      td
        strong PANEL
        |  - Incubators & Resources for Creators (1 hr)
    tr
      td 12:40
      td
        strong PANEL
        |  - Animation on the Web (1 hr)
    tr
      td 1:40
      td Program  break (20 m)
    tr
      td 2:00
      td
        strong workshop
        |  - Making Better Tang: Art and Visual Effects in Web Series  (45 m)
    tr
      td 2:55
      td
        strong event
        |  - Super Geeked Up LIVE (45 m)
    tr
      td 3:50
      td
        strong workshop
        |  - IWCC Creator Session (40 m)
    tr
      td 4:30
      td Program  break (30 m)
    tr
      td 4:45
      td Doors open for screenings
    tr
      td 5:00
      td
        strong screening
        |  - Best of the West, sponsored by Telus STORYHIVE
    tr
      td 6:00
      td
        strong screening
        |  - Toronto Official Selections, sponsored by ACTRA
    tr
      td 7:50
      td
        strong screening
        |  - LGBTQ  Selections, sponsored by DailyXtra
    tr
      td 9:15
      td
        strong screening
        |  - Adventure Hour
    tr
      td 10:50
      td
        strong screening
        |  - Late Night Comedy